/* Thin - 100 */
@font-face {
    font-family: 'Gilroy';
    src: url('Gilroy-Thin.ttf') format('truetype');
    font-weight: 100;
    font-style: normal;
}
/* UltraLight - 200 */
@font-face {
    font-family: 'Gilroy';
    src: url('Gilroy-UltraLight.ttf') format('truetype');
    font-weight: 200;
    font-style: normal;
}
/* Light - 300 */
@font-face {
    font-family: 'Gilroy';
    src: url('Gilroy-Light.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;
}
/* Regular - 400 */
@font-face {
    font-family: 'Gilroy';
    src: url('Gilroy-Regular.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
}
/* Medium - 500 */
@font-face {
    font-family: 'Gilroy';
    src: url('Gilroy-Medium.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
}
/* SemiBold - 600 */
@font-face {
    font-family: 'Gilroy';
    src: url('Gilroy-SemiBold.ttf') format('truetype');
    font-weight: 600;
    font-style: normal;
}
/* Bold - 700 */
@font-face {
    font-family: 'Gilroy';
    src: url('Gilroy-Bold.ttf') format('truetype');
    font-weight: 700;
    font-style: normal;
}
/* Extra bold - 800 */
@font-face {
    font-family: 'Gilroy';
    src: url('Gilroy-ExtraBold.ttf') format('truetype');
    font-weight: 800;
    font-style: normal;
}
/* Heavy - 900 */
@font-face {
    font-family: 'Gilroy';
    src: url('Gilroy-Heavy.ttf') format('truetype');
    font-weight: 900;
    font-style: normal;
}