/* Thin - 100 */
@font-face {
  font-family: "Gilroy";
  src: url("../fonts/Gilroy-Thin.ttf") format("truetype");
  font-weight: 100;
  font-style: normal;
}
/* UltraLight - 200 */
@font-face {
  font-family: "Gilroy";
  src: url("../fonts/Gilroy-UltraLight.ttf") format("truetype");
  font-weight: 200;
  font-style: normal;
}
/* Light - 300 */
@font-face {
  font-family: "Gilroy";
  src: url("../fonts/Gilroy-Light.ttf") format("truetype");
  font-weight: 300;
  font-style: normal;
}
/* Regular - 400 */
@font-face {
  font-family: "Gilroy";
  src: url("../fonts/Gilroy-Regular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
}
/* Medium - 500 */
@font-face {
  font-family: "Gilroy";
  src: url("../fonts/Gilroy-Medium.ttf") format("truetype");
  font-weight: 500;
  font-style: normal;
}
/* SemiBold - 600 */
@font-face {
  font-family: "Gilroy";
  src: url("../fonts/Gilroy-SemiBold.ttf") format("truetype");
  font-weight: 600;
  font-style: normal;
}
/* Bold - 700 */
@font-face {
  font-family: "Gilroy";
  src: url("../fonts/Gilroy-Bold.ttf") format("truetype");
  font-weight: 700;
  font-style: normal;
}
/* Extra bold - 800 */
@font-face {
  font-family: "Gilroy";
  src: url("../fonts/Gilroy-ExtraBold.ttf") format("truetype");
  font-weight: 800;
  font-style: normal;
}
/* Heavy - 900 */
@font-face {
  font-family: "Gilroy";
  src: url("../fonts/Gilroy-Heavy.ttf") format("truetype");
  font-weight: 900;
  font-style: normal;
}
/*reset*/
* {
  padding: 0;
  margin: 0;
  border: 0;
}

*,
*:before,
*:after {
  box-sizing: border-box;
}

:focus,
:active {
  outline: none;
}

a:focus,
a:active {
  outline: none;
}

nav,
footer,
header,
aside {
  display: block;
}

html,
body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input,
button,
textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: 400;
}

input {
  background: 0 0;
}

input:-webkit-autofill,
input:-webkit-autofill:focus input:-webkit-autofill,
input:-webkit-autofill:hover,
select:-webkit-autofill,
select:-webkit-autofill:focus,
select:-webkit-autofill:hover,
textarea:-webkit-autofill,
textarea:-webkit-autofill:hover textarea:-webkit-autofill:focus {
  -webkit-text-fill-color: #fff !important;
  -webkit-box-shadow: inset 0 0 0 1000px transparent !important;
  -webkit-transition: background-color 5000s ease-in-out 0s !important;
  transition: background-color 5000s ease-in-out 0s !important;
}

input::-webkit-inner-spin-button,
input::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/*--------------------*/
.container {
  max-width: 970px;
  margin: 0px auto;
  padding: 0 20px;
}
@media (max-width: 768px) {
  .container {
    padding: 0 15px;
  }
}

.header {
  padding: 34px 0;
}
@media (max-width: 768px) {
  .header {
    padding: 20px 0 33px;
  }
}
@media (max-width: 425px) {
  .header {
    padding: 28px 0 33px 15px;
  }
}
.header__container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 0 20px;
}
.header__logo {
  max-width: 182px;
  height: 100%;
  flex: 1 0 auto;
}
@media (max-width: 768px) {
  .header__logo {
    max-width: 131px;
  }
}
@media (max-width: 425px) {
  .header__logo {
    max-width: 101px;
  }
}
.header__logo-img {
  width: 100%;
}
.header__info {
  display: flex;
  gap: 20px;
  justify-content: flex-end;
  width: 100%;
}
@media (max-width: 425px) {
  .header__info {
    gap: 3px;
  }
}
.header__info-block {
  display: flex;
  align-items: center;
  justify-content: center;
  background: #302E5A;
  border-radius: 10px;
  max-width: 141px;
  width: 100%;
  min-height: 40px;
}
@media (max-width: 768px) {
  .header__info-block {
    max-width: 108px;
    min-height: 32px;
  }
}
@media (min-width: 426px) {
  .header__info-block {
    gap: 6.5px;
  }
}
@media (max-width: 425px) {
  .header__info-block {
    max-width: 88px;
    min-height: 24px;
    border-radius: 5.93px;
  }
}
.header__info-text {
  font-size: 14px;
  line-height: 14px;
  font-weight: 600;
  color: #fff;
}
@media (max-width: 768px) {
  .header__info-text {
    font-size: 11px;
    line-height: 8.31px;
    padding-top: 2px;
  }
}
.header__info-icon {
  width: 15px;
  height: 15px;
}
@media (max-width: 425px) {
  .header__info-icon {
    padding-right: 3px;
  }
}

html,
body,
.wrapper {
  overflow-x: hidden !important;
}

body {
  position: relative;
  background: #242731;
  font-family: "Gilroy";
  overflow: visible;
}

.wrapper {
  position: relative;
  height: 100%;
  overflow: visible;
}

.main {
  padding-bottom: 42px;
}
@media (min-width: 1025px) {
  .main {
    margin-top: 82px;
  }
}
.main__container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(0, 1fr);
  grid-column-gap: 0px;
  grid-row-gap: 0px;
}
@media (max-width: 1024px) {
  .main__container {
    grid-template-columns: 1fr;
    grid-template-rows: repeat(1, 1fr);
  }
}
.main__container > div {
  height: -moz-fit-content;
  height: fit-content;
}
@media (max-width: 1024px) {
  .main__container > div {
    margin-left: auto;
    margin-right: auto;
  }
}
.main__container > div:nth-child(1) {
  grid-area: 1/1/2/2;
}
.main__container > div:nth-child(2) {
  grid-area: 2/1/3/2;
}
@media (max-width: 1024px) {
  .main__container > div:nth-child(2) {
    grid-area: 3/1/4/2;
  }
}
.main__container > div:nth-child(3) {
  grid-area: 1/2/3/3;
}
@media (max-width: 1024px) {
  .main__container > div:nth-child(3) {
    grid-area: 2/1/3/2;
  }
}

.banner {
  z-index: -1;
  position: absolute;
  left: 0;
  width: 100%;
  text-align: center;
  bottom: 4px;
  line-height: 158.46px;
  font-size: 129.36px;
  white-space: nowrap;
  font-weight: 800;
  text-transform: uppercase;
  -webkit-text-stroke: 1.6px rgba(255, 255, 255, 0.05);
  -webkit-text-fill-color: transparent;
  pointer-events: none;
}
@media screen and (max-height: 840px) {
  .banner {
    display: none;
  }
}
@media (max-width: 425px) {
  .banner {
    display: none;
  }
}

.gradient {
  position: absolute;
  z-index: -1;
  max-width: 100%;
}
.gradient__left {
  left: 0;
}
@media (min-width: 426px) {
  .gradient__left {
    top: 0;
  }
}
@media (max-width: 425px) {
  .gradient__left {
    bottom: 0;
    transform: scale(-1);
  }
}
.gradient__right {
  top: 0;
  right: 0;
}
@media (max-width: 1440px) {
  .gradient__right {
    display: none;
  }
}

.info {
  max-width: 427px;
}
@media (min-width: 769px) {
  .info {
    padding-top: 10px;
  }
}
.info__tag {
  display: flex;
  align-items: center;
  width: 119px;
  min-height: 32px;
  border-radius: 5px;
  font-weight: 600;
  color: #fff;
  font-size: 16px;
  line-height: 24px;
  background: #4252D1;
}
@media (max-width: 1024px) {
  .info__tag {
    margin: 0px auto;
  }
}
@media (max-width: 425px) {
  .info__tag {
    justify-content: center;
    gap: 5px;
    width: 89px;
    min-height: 23.93px;
    border-radius: 3px;
    font-size: 12px;
    line-height: 17.95px;
    transform: translate(-7px, 0);
  }
}
.info__tag-icon {
  padding: 0 6.3px 0 15px;
}
@media (max-width: 425px) {
  .info__tag-icon {
    width: 13.8px;
    height: 13.8px;
    padding: 0px;
  }
}
.info__title {
  font-weight: 800;
  font-size: 77px;
  line-height: 91.32px;
  color: #FF3459;
  text-transform: uppercase;
}
@media (max-width: 768px) {
  .info__title {
    font-size: 52px;
    line-height: 66.59px;
    text-align: center;
  }
}
@media (max-width: 425px) {
  .info__title {
    font-size: 52.73px;
    line-height: 64.59px;
  }
}
.info__subtitle {
  padding: 7px 0 0 15px;
  font-weight: 600;
  font-size: 21.95px;
  line-height: 26.19px;
  color: #fff;
  top: 3px;
}
@media (max-width: 425px) {
  .info__subtitle {
    padding: 2px 0 0 26px;
    font-size: 15px;
    line-height: 17.89px;
  }
}
@media (max-width: 350px) {
  .info__subtitle {
    padding: 0px;
    text-align: center;
  }
}
.info__subtitle span {
  font-weight: 800;
  font-size: 23.64px;
  line-height: 28.96px;
  color: #fff;
  position: relative;
  text-transform: uppercase;
  top: 3px;
  z-index: 10;
  margin-right: 24px;
}
@media (max-width: 425px) {
  .info__subtitle span {
    font-size: 16px;
    line-height: 19.6px;
    top: 1px;
    left: 3px;
  }
}
@media (max-width: 350px) {
  .info__subtitle span {
    margin: 0px auto 16px;
    display: block;
    width: -moz-fit-content;
    width: fit-content;
  }
}
.info__subtitle span:before {
  content: " ";
  position: absolute;
  width: 106.72px;
  height: 38.96px;
  transform: rotate(-3.51deg);
  left: -13px;
  top: -5px;
  z-index: -1;
  border-radius: 5px;
  background: #FF3459;
}
@media (max-width: 425px) {
  .info__subtitle span:before {
    width: 76.26px;
    height: 27.53px;
    border-radius: 3.57px;
    transform: rotate(-3.49deg);
    left: -9px;
    top: -3px;
  }
}
.info__text {
  padding: 31px 0 0px 2px;
  font-size: 18px;
  font-weight: 400;
  line-height: 26.64px;
  color: #fff;
}
@media (max-width: 425px) {
  .info__text {
    font-size: 14px;
    line-height: 20.72px;
    text-align: center;
    transform: translate(-2px, 0px);
    padding: 23px 0 0 0;
  }
}
.info__text span {
  font-weight: 500;
}

.more {
  display: block;
  gap: 18px;
  display: flex;
  flex-direction: column;
  margin-top: 54px;
}
@media (max-width: 1024px) {
  .more {
    margin-top: 38px;
    flex-direction: column-reverse;
    align-items: center;
    max-width: 309px;
  }
}
.more__group {
  display: flex;
  gap: 18px;
  width: 100%;
}
.more__group-photo {
  width: 51px;
  height: 51px;
}
.more__group-photo.gift {
  display: flex;
  align-items: center;
}
.more__group-title {
  font-weight: 700;
  color: #fff;
}
.more__group-title span {
  color: #4252D1;
}
.more__group-title.author {
  font-size: 13px;
  line-height: 15.6px;
  padding-top: 3px;
}
.more__group-title.bonus {
  font-size: 12px;
  line-height: 17.76px;
}
@media (max-width: 768px) {
  .more__group-title.bonus {
    font-size: 14px;
    line-height: 20.72px;
  }
}
.more__group-text {
  font-size: 12px;
  font-weight: 400;
  line-height: 19.2px;
  color: #fff;
  max-width: 310px;
}
.more__group-text.lh17 {
  line-height: 18.76px !important;
}

.join {
  max-width: 366px;
  width: 100%;
  background: #303A53;
  border-radius: 10px;
  padding: 50px 59px;
  position: relative;
  margin-left: auto;
}
@media (max-width: 1024px) {
  .join {
    max-width: 427px;
    margin-top: 23px;
  }
}
@media (max-width: 425px) {
  .join {
    border-radius: 8.96px;
    padding: 39px 22px;
  }
}
.join__bg {
  top: 35px;
  right: -233px;
  position: absolute;
  z-index: 100;
}
@media (max-width: 520px) {
  .join__bg {
    display: none;
  }
}
.join__title {
  font-size: 22px;
  line-height: 26px;
  text-align: center;
  font-weight: 700;
  color: #fff;
  margin-bottom: 20px;
}
@media (max-width: 425px) {
  .join__title {
    font-size: 20px;
    line-height: 23.23px;
    padding: 0 30px;
  }
}
.join__title span {
  color: #FF3459;
}
.join__footer {
  margin-top: 20px;
}
@media (max-width: 425px) {
  .join__footer {
    margin-top: 18px;
  }
}
.join__text {
  font-size: 12px;
  line-height: 17.88px;
  text-align: center;
  font-weight: 500;
  color: rgba(255, 255, 255, 0.5);
}
@media (max-width: 425px) {
  .join__text {
    font-size: 11px;
    line-height: 16.39px;
  }
}
.join__link {
  text-decoration: underline;
  color: rgba(255, 255, 255, 0.5);
  display: inline-block;
}

.form.locked {
  pointer-events: none;
  opacity: 0.5;
}
.form__group {
  position: relative;
  background: #272D3D;
  border-radius: 5px;
  width: 100%;
  height: 51px;
  margin-bottom: 14px;
}
@media (max-width: 425px) {
  .form__group {
    border-radius: 4.48px;
    height: 46px;
  }
}
.form__group.error > .form__error {
  display: block;
}
.form__error {
  position: absolute;
  top: -20px;
  left: 0px;
  font-size: 13px;
  line-height: 24px;
  font-weight: 700;
  color: #FF3459;
  display: none;
}
.form__input {
  padding: 0 21px;
  width: 100%;
  height: 100%;
  position: absolute;
  background: transparent;
  font-size: 13px;
  line-height: 24px;
  font-weight: 400;
  color: #D7D7D7;
  z-index: 1;
}
@media (max-width: 425px) {
  .form__input {
    font-size: 12px;
    line-height: 21.51px;
    padding: 0 26px;
  }
}
.form__input:focus ~ .form__label {
  top: 0px;
  font-size: 10px;
  line-height: 21px;
  transition: 0.3s ease;
}
.form__input::-moz-placeholder {
  color: #D7D7D7;
}
.form__input::placeholder {
  color: #D7D7D7;
}
.form__input:not(:-moz-placeholder-shown) ~ .form__label {
  top: 0px;
  font-size: 10px;
  line-height: 21px;
}
.form__input:not(:placeholder-shown) ~ .form__label {
  top: 0px;
  font-size: 10px;
  line-height: 21px;
}
.form__input.phone {
  padding-left: 85px !important;
  margin: 0 !important;
}
.form__label {
  transition: 0.3s ease;
  padding: 0 21px;
  width: 100%;
  height: 100%;
  position: absolute;
  font-size: 13px;
  line-height: 24px;
  font-weight: 400;
  color: #D7D7D7;
  left: 0;
  top: 13px;
}
@media (max-width: 425px) {
  .form__label {
    top: 12px;
    font-size: 12px;
    line-height: 21.51px;
    padding: 0 26px;
  }
}
.form__label.phone {
  left: 63px;
}
.form__btn {
  width: 100%;
  height: 51px;
  border-radius: 5px;
  background: #FF3459;
  color: #fff;
  font-size: 15px;
  line-height: 24px;
  font-weight: 700;
  display: block;
}
@media (max-width: 425px) {
  .form__btn {
    background: #0048FF;
    max-width: 222.25px;
    margin: 0px auto;
    height: 45.55px;
    border-radius: 4.48px;
    font-size: 14px;
    line-height: 21.51px;
  }
}
.form__success {
  width: -moz-max-content;
  width: max-content;
  top: -100px;
  transition: 0.3s ease;
  position: fixed;
  left: 50%;
  transform: translate(-50%, 0);
  background: #303A53;
  font-size: 19px;
  line-height: 14px;
  font-weight: 600;
  color: #fff;
  padding: 24px 36px;
  border-radius: 6px;
}
@media (max-width: 425px) {
  .form__success {
    padding: 16px 24px;
    font-size: 15px;
    line-height: 9px;
  }
}
.form__success.active {
  transition: 0.6s ease;
  top: 20px;
}/*# sourceMappingURL=style.css.map */